* {
    background-color: rgb(233, 254, 255);
}

main {
    display: grid;
    place-items: center;
    min-height: 90vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 80px;
    width: 400px;
    margin-bottom: 10px;
}

span {
    font-size: 100px;
    font-weight: 600;
    width: 25px;
}

.btn {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 300;
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 15px;
}